<html>
	<head>
		<title>یاور مدیریت</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<style><!--
		body{
		background-image:url('static/images/header.jpg');
		background-color:#cccccc;
		background-repeat: no-repeat;
		}
		--></style>
	</head>
	<body>
		<div style="left:40%; top:40%; disaply:block; position:fixed;">
		<center>
			<img src="static/images/assistant.ico"/><br/>
			<font style="font-family:Tahoma; font-size:28px;">
			همراه مدیر
			</font>
			<br/>
			لطفا از کروم استفاده کنید,<br/>
			<a href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo?hl=en">این افزونه</a>را نصب کنید<br/>
			<table>
			<tr>
			<td><a href="http://localhost:12010/static/modir/scripts/Modir%20Assistant.tamper.js">اسکریپت</a></td>
			<td>&nbsp;</td>
			<td><a href="http://modir.idehgostar.com"> سایت مدیریت</a></td>
			</tr>
			</table>
		</center>
		</div>
	</body>
</html>